<footer class="bg-dark text-white pt-4 pb-2 mt-5">
    <div class="container">
        <div class="row text-start">

            <div class="col-md-4 mb-3">
                <h5 class="fw-bold">Mi Sitio Web</h5>
                <p class="small">
                    Proyecto Educativo de FrontEnd. Pracitca de Desarrollado Web Moderno, dicen...
                </p>
            </div>

            <div class="col-md-4 mb-3">
                <h6 class="fw-bold">Menu de Navegacion</h6>
                <ul>
                    <li><a href="../index.html" class="text-white text-decoration-none"></a></li>
                    <li><a href="../pages/nosotros.html" class="text-white text-decoration-none"></a></li>
                    <li><a href="../pages/contacto.html" class="text-white text-decoration-none"></a></li>
                </ul>
            </div>
            <div class="col-md-4 mb-3">
                <h6>Siguenos en..</h6>
                <a href="#" class="text-white me-3"><i class="bi bi-facebook"></i></a>
                <a href="#" class="text-white me-3"><i class="bi bi-instagram"></i></a>
                <a href="#" class="text-white"><i class="bi bi-github"></i></a>
            </div>

        </div>

     <hr class="border-light">

     <div class="text-center small">
        © 2026 - Mi Pagina Web | Desarrollado en la clase del Taipe | Front - End
     </div>
    </div>
</footer>